# ======================
# 编译产物
# ======================
target/
out/
bin/
build/

# ======================
# 日志 & 临时文件
# ======================
*.log
*.tmp
*.swp
*.bak

# ======================
# IntelliJ IDEA
# ======================
.idea/
*.iml

# ======================
# Eclipse
# ======================
.classpath
.project
.settings/

# ======================
# VS Code
# ======================
.vscode/

# ======================
# OS 生成的文件
# ======================
.DS_Store
Thumbs.db
*.txt

# ======================
# Maven Wrapper
# （保留 wrapper 可执行文件，忽略下载内容）
# ======================
.mvn/wrapper/maven-wrapper.jar
